In [ ]:
name = 'GrayHut'

In [4]:
name

'GrayHut'

In [18]:
import datetime

today = datetime.datetime.now().year

today

2025

>Python datatypes

1. integer
2. tuples
3. Arrays/list
4. Dictionaries
5. Float
6. string
7. Sets

In [19]:
our_ages = [45,34,87,23,18]

type(our_ages)

list

In [20]:
revenue = float(input('Enter revenue: '))
expenses = float(input('Enter total expenses: '))
profit = revenue-expenses
profit

34217.0

>Data structures
 - A way of organizing and storing data in a computer so that it can be used efficiently
 - provides format for managing data, allowing for operations such as STORAGE, RETRIEVAL &      MODIFICATION

 Built-in data structures
 1. List - appending/adding allowed
 2. tuple - appending not allowed
 3. dictionary
 4. set

In [ ]:
pip install pandas

>Topics
- Variables
- Data types
- Data structures
- loops
- control flows
- functions
- Class

In [2]:
##Loops
#FOR loop

fruits = ['Mango', 'Orange', 'Apple', 'Pineapple', 'Banana']

for f in fruits:
    print(f)

Mango
Orange
Apple
Pineapple
Banana

In [4]:
for r in range(1,30):
    print(r,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

>WHILE loop
-Executes a block of code as long as condition remains true

In [1]:
#while loop

num = 1

while num <= 5:
    print(num)
    num = num + 1

1
2
3
4
5

In [2]:
##Loop control statements
for num in range(1,6):
    if num ==3:
        continue
    print(num)

1
2
4
5

In [4]:
for num in range(5):
    if num ==3:
        pass
    print(num)

0
1
2
3
4

In [5]:
for num in range(1,6):
    if num ==3:
        break
    print(num)

1
2

ELSE with loops

In [6]:
for i in range(1,10):
    print(i)
else:
    print("End of loop")

1
2
3
4
5
6
7
8
9
End of loop

### Control flows
- Determine order in which statements are executed in python program
1. Conditional statements (else, elif, if)
2. Loops (while, for)
3. Loop control statements (break, pass, continue)

In [13]:
fruits = ['Mango', 'Orange', 'Apple', 'Pineapple', 'Banana']

def open_list():
    for f in fruits:
        print(f)

open_list()

Mango
Orange
Apple
Pineapple
Banana

In [14]:
def profit_calc(revenue, expenses):
    profit = revenue - expenses
    print(profit)

profit_calc(10000, 6000)

4000

In [ ]:
pip install requests

In [33]:
import requests

url = "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,solana&vs_currencies=kes"
response = requests.get(url)
data = response.json()
data

{'bitcoin': {'kes': 13678921}, 'solana': {'kes': 19475.58}}

In [34]:
print ('Price of BTC: ',  data['bitcoin']['kes'])

Price of BTC:  13678921

>ETL ------>> API KEYS

-ETL (EXTRACT, TRANSFORM, LOAD)/ELT are data integration workflows used to move and prepare data from data sources such as data warhouses, data lakes, analytics pipelines etc

    -EXTRACTION >> pulling of data from various sources
    -TRANSFORM >> involves cleaning, normalization and aggregation
    -LOAD >> store transformed data into the target DB or warehouse

ETL is Python-based, has lower performance hence best for small amounts of data
ELT is used for cloud-native warehouses and Big Data (Transformation is done after Loading)

-Data architecture defines the flow of data

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2-binary

>EXTRACTION

In [1]:
import requests #extraction
import pandas as pd #transformation
from sqlalchemy import create_engine #loading

In [2]:
##api call

url = 'https://api.collectapi.com/gasPrice/fromCity?city=Nairobi'

headers = {
    'content-type': "application/json",
    'authorization': "apikey 127ya9d8Yaiz2SaK3oZ2rs:0LzoJB2j22Dgsc6hDUKbDW"
    }

response = requests.get(url, headers=headers)
response

In [3]:
data = response.json()
data

{'success': True,
 'result': {'country': 'Kenya',
  'gasoline': '1.359',
  'currency': 'usd',
  'diesel': '1.248',
  'lpg': 'N/A',
  'unit': 'liter'}}

>TRANSFORMATION

In [5]:
if data['success']:
    result = data['result']
    if isinstance(result, dict):
        result = [result]

        #df = pd.DataFrame(result)

In [13]:
fuel_price = data['result']
price = []
price.append(fuel_price)
#df = pd.DataFrame(price)
price

[{'country': 'Kenya',
  'gasoline': '1.359',
  'currency': 'usd',
  'diesel': '1.248',
  'lpg': 'N/A',
  'unit': 'liter'}]

In [8]:
df

  country gasoline currency diesel  lpg   unit
0   Kenya    1.359      usd  1.248  N/A  liter

>LOADING

Database name: defaultdb

Host: pg-d25c7-ondiekiowen-1b16.f.aivencloud.com

Port: 23387

User: avnadmin

Password: AVNS_9BO1mMZdmRYRa2ukBbY

In [9]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in e:\luxdev\luxfiles\luxpython\project-1\.venv\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [17]:
engine  = create_engine('postgresql://avnadmin:AVNS_9BO1mMZdmRYRa2ukBbY@pg-d25c7-ondiekiowen-1b16.f.aivencloud.com:23387/defaultdb')
df

  country gasoline currency diesel  lpg   unit
0   Kenya    1.359      usd  1.248  N/A  liter

In [19]:
df.to_sql('nairobi_fuel', engine, if_exists='replace', index=False, schema='fuel')

1

Another ETL example

In [21]:
import requests as req# extraction
import pandas as pd #transformation
from sqlalchemy import create_engine as ce#loading

In [22]:
url = 'https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum&vs_currencies=usd'

response = req.get(url)
response

In [23]:
data = response.json()
data

{'bitcoin': {'usd': 105963}, 'ethereum': {'usd': 2553.13}}

In [25]:
print('The priGQEFHHDCce of sjdjdcjndjitcoin is: ', data['bitcoin']['usd'])

The priGQEFHHDCce of sjdjdcjndjitcoin is:  105963

In [13]:
data_list = []

for k,v in data.items():
    v['coins'] = k
    data_list.append(v)
    

data_list

[{'usd': 104720, 'coins': 'bitcoin'}, {'usd': 2516.4, 'coins': 'ethereum'}]

In [14]:
df = pd.DataFrame(data_list)
df

        usd     coins
0  104720.0   bitcoin
1    2516.4  ethereum

In [ ]:
d1 = {
    'bitcoin': {'usd' : 104720},
    'etherium' : {'usd' : 2516.4}
}

d2 = [
    {
        'usd' : 104720,
        'coins' : 'bitcoin'
    },
    {
        'usd' : 2516.4,
        'coins' : 'etherium'
    }
]

http://api.openweathermap.org/data/2.5/weather?q=Nairobi,KE&appid=c32170926bb267e9e09b323867c11c47&units=metric

In [27]:
import requests as rq #extraction
import pandas as pd #transformation
from sqlalchemy import create_engine as ce

url = 'http://api.openweathermap.org/data/2.5/weather?q=Nairobi,KE&appid=c32170926bb267e9e09b323867c11c47&units=metric'

response = rq.get(url)
w_data = response.json()
w_data

{'coord': {'lon': 36.8167, 'lat': -1.2833},
 'weather': [{'id': 501,
   'main': 'Rain',
   'description': 'moderate rain',
   'icon': '10d'}],
 'base': 'stations',
 'main': {'temp': 19.98,
  'feels_like': 19.89,
  'temp_min': 19.98,
  'temp_max': 19.98,
  'pressure': 1018,
  'humidity': 71,
  'sea_level': 1018,
  'grnd_level': 840},
 'visibility': 10000,
 'wind': {'speed': 1.23, 'deg': 184, 'gust': 1.08},
 'rain': {'1h': 1.17},
 'clouds': {'all': 98},
 'dt': 1750413468,
 'sys': {'country': 'KE', 'sunrise': 1750390373, 'sunset': 1750433740},
 'timezone': 10800,
 'id': 184745,
 'name': 'Nairobi',
 'cod': 200}

In [43]:
print('The location is', w_data['name'] , 'and the latitude is', w_data['coord']['lat'])

The location is Nairobi and the latitude is -1.2833

In [24]:
w_data_list = []

for k,v in w_data.items():
    w_data_list.append(v)

w_data_list

[{'lon': 36.8167,
  'lat': -1.2833,
  'keys': 'coord',
  'key': 'coord',
  'coins': 'coord'},
 [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}],
 'stations',
 {'temp': 18.12,
  'feels_like': 18.05,
  'temp_min': 18.12,
  'temp_max': 18.12,
  'pressure': 1019,
  'humidity': 79,
  'sea_level': 1019,
  'grnd_level': 840},
 10000,
 {'speed': 1.78, 'deg': 191, 'gust': 2.08},
 {'1h': 0.91},
 {'all': 99},
 1750409022,
 {'country': 'KE', 'sunrise': 1750390373, 'sunset': 1750433740},
 10800,
 184745,
 'Nairobi',
 200]

>Working with pandas & csv files

In [15]:
import pandas as pd

data_3 = pd.read_csv('MOCK_DATA.csv')

data_3

,customer_id,product_name,quantity,unit_price,total_price,purchase_date,sales_rep,payment_method,shipping_address,order_status
0,1,Smart Light Bulbs,97,914.52,88708.44,2/5/2023,Leta Nathan,cash,7406 Almo Terrace,delivered
1,2,Dried Apricots,21,148.81,3125.01,5/9/2021,Rodrique Simionescu,cash,260 Prentice Point,shipped
2,3,Wireless Earbuds Case,50,202.42,10121.00,7/11/2020,Duncan Dixsee,cash,17 Green Plaza,pending
3,4,Pumpkin Pancake Mix,77,943.33,72636.41,1/8/2024,Barnaby Hartlebury,check,38 Lawn Junction,delivered
4,5,Fridge Magnet Set,66,267.73,17670.18,10/1/2024,Tobi Siehard,credit card,722 Saint Paul Center,delivered
...,...,...,...,...,...,...,...,...,...,...
995,996,Yoga Strap,58,199.12,11548.96,5/5/2023,Eleanora Snoding,credit card,891 Kings Road,delivered
996,997,Pineapple Teriyaki Chicken Mix,47,774.31,36392.57,1/12/2022,Simonette Abelovitz,credit card,1859 Jana Alley,pending
997,998,Compact Electric Kettle,82,367.20,30110.40,10/15/2023,Zsa zsa Carradice,credit card,74912 Grayhawk Alley,shipped
998,999,Balsamic Salad Dressing,44,458.59,20177.96,11/25/2021,Nikkie Varnham,cash,46 Shelley Alley,pending
999,1000,Poppy Seed Dressing,16,825.19,13203.04,3/5/2022,Chlo Slarke,cash,51 Huxley Circle,delivered